* {
  font-family: sans-serif;
}

body {
  margin: 30px;
}

.displayBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  border: solid 2px black;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  // background-color: aquamarine;

  p {
    // background-color: white;
    border-radius: 5%;
    min-height: 50px;
    text-align: center;
    vertical-align: middle;
  }
}

// Pop Up Window for Card Creator
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popUpBody {
  background-color: white;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  border-radius: 8px;
}

.entryCardForm {
  position: relative;

  .forGrid div {
    font-size: 12px;
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    gap: 25px;
    margin: 20px;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

.star-ratings {
  button {
    background-color: white;
    border: none;

    .on {
      color: rgba(0, 0, 0, 1);
    }

    .off {
      color: rgba(0, 0, 0, 0.5);
    }
  }
}